* {
  box-sizing: border-box;
}

.a11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 15px;
  width: 340px;
  height: 652px;
  row-gap: 15px;

  .a6 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 13px;

    .novoAgendamento {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 208px;
      height: 24px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }

    .fecharX {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding: 14px;
      width: 38px;
      height: 38px;
      row-gap: 10px;

      .frame {
        flex-shrink: 0;
        width: 23px;
        height: 14px;
      }
    }

    .fecharX2 {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .a024 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 7px;

    .a012 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 5px;

      .a02 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        row-gap: 5px;

        .clientes {
          flex-shrink: 0;
          align-self: stretch;
          text-align: center;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .selecioneUmClientePa {
          flex-shrink: 0;
          align-self: stretch;
          text-align: center;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Claro-Textos-02, #7d8592);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .a023 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        .a01 {
          flex-grow: 1;
          border-radius: 6px;
          background: var(--Claro-Primaria-01, #1777cf);
          height: 6px;
        }

        .a022 {
          flex-grow: 1;
          border-radius: 6px;
          background: var(--Claro-Textos-05, #e5e7ea);
          height: 6px;
        }
      }
    }

    .abas2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      row-gap: 10px;

      .abas {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 2px;
        margin-right: 27px;
        margin-left: 27px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 6px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        padding: 4px 2px;
        height: 35px;

        .a013 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 4px;
          background: var(--Claro-Primaria-01, #1777cf);
          width: 115px;
          height: 29px;

          .selecionar {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .criarContato {
          flex-shrink: 0;
          padding: 7px 10px;
          width: 135px;
          height: 29px;
          text-align: center;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .a04 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 15px;

    .barraDeBusca2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 5px;

      .barraDeBusca {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 8px;
        padding-left: 15px;

        .icone {
          flex-shrink: 0;
          width: 14px;
          height: 14px;
        }

        .nome {
          flex-grow: 1;
          letter-spacing: 0;
          color: var(--Claro-Textos-03, #91929e);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .a016 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;
      overflow: hidden;

      .a014 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .a015 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: 310px;

        .nome2 {
          flex-grow: 1;
          letter-spacing: 0;
          color: var(--Claro-Textos-03, #91929e);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .a {
        margin-top: 15px;
        width: 310px;
        height: 2px;
      }

      .a7 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 15px;
        width: 310px;

        .aCone {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          padding: 30px 14px;
          width: 37px;
          height: 37px;
          row-gap: 10px;
        }

        .textosIcone {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: center;
          row-gap: 5px;

          .nome3 {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .email {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: var(--Claro-Textos-03, #91929e);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }
    }
  }

  .a017 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 15px;

    .a025 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 6px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding: 14px 9px;
      width: 148px;

      .salvar {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: 0;
        color: var(--Claro-Textos-04, #5f758b80);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
