* {
  box-sizing: border-box;
}

.a09 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 11px 14px;
  width: 343px;
  height: 600px;
  overflow: hidden;

  .principal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 313px;

    .status {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 5px;
      border-radius: 12px;

      .seta {
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 4px;
        width: 30px;
        height: 32px;
      }

      .a02 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        background: var(--Claro-Frente-01, #fcfcfc);
        width: 67px;
        row-gap: 4px;

        .nome {
          flex-shrink: 0;
          width: 51px;
          text-align: center;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 30px;
        height: 32px;

        .seta2 {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4px;
          width: 30px;
          height: 32px;
          rotate: -180deg;
        }
      }
    }

    .fecharX {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .a012 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    margin-top: 12px;
    row-gap: 5px;

    .a01 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      padding-right: 2px;
      padding-left: 2px;

      .placeholder {
        flex-grow: 1;
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0;
        white-space: nowrap;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .input {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid #d8e0f0;
      border-radius: 4px;
      background: var(--Claro-Frente-01, #fcfcfc);
      padding: 4px 9px;
      height: 35px;

      .placeholder2 {
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  .lista2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 22px;
    height: 444px;
    row-gap: 10px;

    .lista {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 15px;

      .design2 {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .a013 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        height: 20px;

        .design {
          flex-grow: 1;
          letter-spacing: 0;
          color: var(--Claro-Primaria-01, #1777cf);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .a {
        flex-shrink: 0;
        align-self: stretch;
        width: 313px;
        height: 2px;
      }

      .a022 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        height: 20px;
      }

      .a023 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        height: 20px;
      }
    }

    .botEs {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 15px;

      .a014 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 6px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        padding: 14px 9px;
        width: 149px;

        .salvar {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .a024 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 6px;
        background: var(--Claro-Primaria-01, #1777cf);
        padding: 14px 9px;

        .salvar2 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}
