* {
  box-sizing: border-box;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  width: 310px;
  height: 436px;
  row-gap: 15px;

  .barraDeBusca2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 5px;

    .barraDeBusca {
      display: flex;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 8px;
      padding-left: 15px;

      .icone {
        flex-shrink: 0;
        width: 14px;
        height: 14px;
      }

      .nome {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-03, #91929e);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }
  }

  .a012 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;
    row-gap: 15px;

    .a01 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .a9 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;

      .nome2 {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-03, #91929e);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .a {
      flex-shrink: 0;
      align-self: stretch;
      width: 310px;
      height: 2px;
    }

    .a7 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;

      .nome3 {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
