* {
  box-sizing: border-box;
}

.a019 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #021632;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .planoDeFundo {
    display: flex;
    position: absolute;
    top: -29px;
    left: 136px;
    align-items: flex-start;
    padding: 97px 200px 147px 19px;
    width: 284px;
    height: 309px;
    background-image: url(../image/mh97ek00-xhhi4vd.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .aCone {
      border-radius: 12px;
      width: 65px;
      height: 65px;
    }
  }

  .autoWrapper5 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .a012 {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      width: 375px;

      .a01 {
        flex-grow: 1;
        width: 270px;
        height: 30px;
      }

      .a02 {
        flex-shrink: 0;
        width: 65px;
        height: 12px;
      }
    }

    .a014 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 101px 27px 0px;
      row-gap: 5px;

      .trocarSenha {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: 0;
        color: var(--Claro-Frente-01, #fcfcfc);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 500;
      }

      .a023 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        .a013 {
          flex-grow: 1;
          border-radius: 6px;
          background: var(--Claro-Primaria-01, #1777cf);
          height: 6px;
        }

        .a022 {
          flex-grow: 1;
          border-radius: 6px;
          background: var(--Claro-Frente-01, #fcfcfc);
          height: 6px;
        }
      }
    }

    .a0211 {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      margin-top: 18px;
      border-radius: 30px 30px 0px 0px;
      background: var(--Claro-Frente-01, #fcfcfc);
      height: 581px;
      row-gap: 21px;

      .a018 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 25px;
        row-gap: 20px;

        .a015 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          padding-right: 5px;
          padding-left: 5px;

          .selecioneUmaOpOParaE {
            flex-grow: 1;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .a027 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          row-gap: 16px;

          .a2 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
          }

          .email {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }

          .a016 {
            flex-shrink: 0;
            border-radius: 12px;
            width: 48px;
            height: 48px;
          }

          .frame1597884545 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
            border-radius: 16px;
            padding: 9px 15px;

            .a017 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              column-gap: 16px;

              .a024 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                justify-content: center;
                row-gap: 4px;

                .aMailCom {
                  flex-shrink: 0;
                  align-self: stretch;
                  letter-spacing: 0;
                  color: var(--Claro-Textos-02, #7d8592);
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }
            }
          }

          .frame1597884546 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
            border-radius: 16px;
            padding: 9px 15px;

            .a026 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              column-gap: 16px;

              .a025 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                justify-content: center;
                row-gap: 4px;

                .a0101 {
                  flex-shrink: 0;
                  line-height: 17px;
                  letter-spacing: 0;
                  color: var(--Claro-Textos-07, #6f7da0);
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .a029 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        column-gap: 20px;
        width: 335px;

        .a028 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 10px;
          background: var(--Claro-Primaria-01, #1777cf);
          padding: 11px 143px;
          width: 158px;
          height: 42px;

          .enviar {
            flex-shrink: 0;
            line-height: 19px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }

      .a03 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;

        .frame1321315275 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          background: var(--Claro-Fundo-01, #f4f4f4);
          padding: 5px 12px;
          overflow: hidden;

          .a1 {
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }

          .aBc {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }

          .a22 {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }

          .frame13213152882 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            border-radius: 8px;
            background: #ffffff;
            padding-right: 41px;
            padding-left: 45px;
            height: 47px;
          }

          .frame1321315288 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            border-radius: 8px;
            background: #ffffff;
            padding-right: 41px;
            padding-left: 44px;
            height: 47px;
          }

          .autoWrapper {
            display: flex;
            align-items: center;
            align-self: stretch;
            padding-right: 0;
            padding-left: 0;

            .frame1321315276 {
              display: flex;
              align-items: flex-start;
              border-radius: 8px;
              background: #ffffff;
              padding: 5px 49px 18px 53px;
              overflow: hidden;
            }
          }

          .autoWrapper2 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 8px;
            padding-right: 0;
            padding-left: 0;

            .frame13213152883 {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              background: #ffffff;
              padding-right: 42px;
              padding-left: 44px;
              height: 47px;
            }
          }

          .autoWrapper3 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 8px;
            padding-right: 0;
            padding-left: 0;

            .pQrs {
              flex-shrink: 0;
              line-height: 12px;
              letter-spacing: 0;
              color: var(--Claro-Textos-01, #3a3f51);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
              text-transform: UPPERCASE;
            }

            .frame13213152884 {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              background: #ffffff;
              padding-right: 42px;
              padding-left: 44px;
              width: 112px;
              height: 47px;
            }

            .frame13213152885 {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin-left: 8px;
              border-radius: 8px;
              background: #ffffff;
              padding-right: 41px;
              padding-left: 45px;
              width: 112px;
              height: 47px;
            }
          }

          .autoWrapper4 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 8px;
            padding-right: 0;
            padding-left: 0;

            .frame1321315285 {
              display: flex;
              align-items: center;
              border-radius: 8px;
              padding: 6px 51px;
              overflow: hidden;

              .a {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 10px;
                height: 35px;
                letter-spacing: 0;
                color: var(--Claro-Textos-01, #3a3f51);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 500;
                text-transform: UPPERCASE;
              }
            }

            .frame1321315286 {
              display: flex;
              align-items: center;
              margin-left: 8px;
              border-radius: 8px;
              background: #ffffff;
              padding: 12px 49px 11px;
              overflow: hidden;
            }

            .frame1321315287 {
              display: flex;
              align-items: center;
              margin-left: 8px;
              border-radius: 8px;
              padding: 12px 44px 11px;
              overflow: hidden;

              .backspace {
                width: 24px;
                height: 24px;
                overflow: hidden;
              }
            }
          }
        }

        .a0210 {
          flex-shrink: 0;
          width: 375px;
          height: 45px;
          overflow: hidden;
        }
      }
    }
  }
}
