* {
  box-sizing: border-box;
}

.a12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Claro-Fundo-01, #f4f4f4);
  width: 375px;
  height: 812px;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    background: #fcfcfccc;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 41px;

    .a012 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding: 10px 20px;

      .a01 {
        flex-grow: 1;
        width: 270px;
        height: 30px;
      }

      .a02 {
        flex-shrink: 0;
        width: 65px;
        height: 12px;
      }
    }
  }

  .a014 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Claro-Fundo-01, #f4f4f4);

    .a013 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      row-gap: 8px;

      .umaHoldingPatrimonia {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-width: 1px 0px;
        border-style: solid;
        border-color: var(--Claro-Textos-03, #91929e);
        background: var(--Claro-Frente-01, #fcfcfc);
        padding: 48px 24px 30px;
        height: 499px;
        overflow: hidden;
        row-gap: 10px;

        .holdingPatrimonial {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 600;
        }
      }

      .a022 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border: 1px solid var(--Claro-Textos-03, #91929e);
        background: var(--Claro-Frente-01, #fcfcfc);
        padding: 48px 24px;
        height: 499px;
        overflow: hidden;
        row-gap: 10px;
      }
    }
  }
}
