* {
  box-sizing: border-box;
}

.a012 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 11px 14px;
  width: 223px;
  height: 96px;
  row-gap: 15px;

  .design {
    flex-shrink: 0;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Claro-Textos-01, #3a3f51);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .a01 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;
    height: 20px;

    .aCone {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
    }
  }

  .a {
    flex-shrink: 0;
    align-self: stretch;
    width: 193px;
    height: 2px;
  }

  .a3 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;
    height: 20px;

    .aCone2 {
      flex-shrink: 0;
      width: 13px;
      height: 14px;
    }
  }
}
