* {
  box-sizing: border-box;
}

.a052 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 15px;
  width: 223px;
  height: 652px;
  row-gap: 10px;

  .a {
    flex-shrink: 0;
    align-self: stretch;
    width: 193px;
    height: 2px;
  }

  .desconto {
    flex-shrink: 0;
    align-self: stretch;
    letter-spacing: 0;
    color: var(--Claro-Textos-01, #3a3f51);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
  }

  .a024 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    padding-top: 5px;

    .nome3 {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .a01 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .a012 {
      display: flex;
      align-items: center;
      column-gap: 10px;
      width: 193px;

      .nome {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .a2 {
      margin-top: 10px;
      width: 193px;
      height: 10px;
    }

    .nome2 {
      margin: 10px 0px 0px;
      width: 193px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .a03 {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-top: 10px;
      width: 193px;
    }

    .a05 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      justify-content: flex-end;
      margin-top: 10px;
      row-gap: 10px;

      .a014 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 3px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        padding: 3px;

        .a013 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          background: var(--Claro-Primaria-01, #1777cf);
          height: 35px;

          .a3 {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }
        }

        .a02 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          background: var(--Claro-Frente-01, #fcfcfc);
          height: 35px;

          .r {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .a023 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;

        .a015 {
          flex-shrink: 0;
          border-radius: 4px;
          width: 30px;
          height: 39px;
          overflow: hidden;
        }

        .a022 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          padding: 12px 10px;
          height: 39px;

          .placeholder {
            flex-grow: 1;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .a017 {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-top: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 8px;
      padding: 9px;
      width: 193px;

      .a016 {
        flex-shrink: 0;
        border-radius: 12px;
        width: 37px;
        height: 37px;
      }

      .nome4 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        width: 126px;
        height: 37px;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .a07 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      margin-top: 26px;
      padding-bottom: 5px;
      row-gap: 10px;

      .nome5 {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .a018 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        border-radius: 8px;
        row-gap: 5px;
      }

      .a032 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 5px;

        .nome6 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  .a033 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 10px;
    border-radius: 6px;
    background: var(--Claro-Primaria-01, #1777cf);
    padding: 15px 10px;
    height: 35px;

    .salvar {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Claro-Frente-01, #fcfcfc);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
