* {
  box-sizing: border-box;
}

.a014 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 11px 14px;
  width: 339px;
  height: 405px;
  row-gap: 10px;

  .a01 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    column-gap: 13px;

    .novoUdio {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 258px;
      height: 24px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 600;
    }

    .fecharX {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .microfone2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 10px;
    padding-top: 20px;

    .microfone {
      flex-shrink: 0;
      border-radius: 99px;
      width: 70px;
      height: 70px;
    }
  }

  .aUdio {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    padding-top: 20px;

    .gravando {
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding-left: 5px;
      width: 309px;

      .aCone {
        flex-shrink: 0;
        width: 29px;
        height: 30px;
      }

      .a013 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 2px;
        padding-top: 9px;
        padding-bottom: 1px;

        .a012 {
          flex-shrink: 0;
          opacity: 0.4;
          border-radius: 4px;
          background: var(--Claro-Textos-02, #7d8592);
          width: 3px;
          height: 3px;
        }
      }

      .a0000 {
        flex-shrink: 0;
        align-self: stretch;
        padding: 10px 0px 2px;
        line-height: 19px;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .nome {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      margin-top: 40px;
      overflow: hidden;
      row-gap: 6px;

      .label {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        padding-right: 6px;
        padding-left: 6px;

        .criarSenha {
          flex-grow: 1;
          align-self: stretch;
          width: 297px;
          height: 17px;
          letter-spacing: 0;
          color: var(--Claro-Textos-02, #7d8592);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }
      }

      .input {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 8px;
        background: var(--Claro-Frente-01, #fcfcfc);
        padding: 12px 10px;
        min-height: 40px;
        max-height: 40px;

        .placeholder {
          flex-grow: 1;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .tempo {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 40px;
      min-width: 309px;

      .a3 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 8px;
        background: var(--Claro-Fundo-04, #d3d3d31f);
        padding: 9px 14px;
        height: 40px;

        .vector {
          flex-shrink: 0;
          width: 21px;
          height: 18px;
        }

        .comeArDeNovo {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .a02 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: var(--Claro-Primaria-01, #1777cf);
        padding: 10px 15px;
        height: 40px;

        .salvar {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
