* {
  box-sizing: border-box;
}

.a016 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 14px;
  width: 255px;
  height: 242px;

  .a01 {
    display: flex;
    align-items: center;
    column-gap: 13px;
    width: 225px;

    .novaAnotaO {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 174px;
      height: 24px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 600;
    }

    .fecharX {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .design {
    margin: 22px 0px 0px;
    padding: 2px 0px;
    width: 225px;
    height: 20px;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Claro-Textos-02, #7d8592);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .a {
    margin-top: 10px;
    width: 225px;
    height: 2px;
  }

  .a015 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 10px;
    width: 225px;

    .a02 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      height: 20px;

      .design2 {
        flex-grow: 1;
        text-align: center;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .a013 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding: 15px;
      row-gap: 10px;

      .a012 {
        flex-shrink: 0;
        border-radius: 8px;
        width: 50px;
        height: 50px;
      }
    }

    .a3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding: 15px;
      row-gap: 10px;

      .aCone {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 13px;
        margin-left: 13px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 8px;
        background: var(--Claro-Textos-05, #e5e7ea);
        padding: 11px 12px;

        .a022 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          background: var(--Claro-Textos-02);
          padding: 0px 1px 4px 4px;
          background-image: url(../image/midfhuu8-sbo5qf8.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .a014 {
            margin-left: 12px;
            width: 9px;
            height: 9px;
          }

          .tXt {
            margin: 4px 0px 0px;
            width: 17px;
            line-height: 10px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 8px;
            font-weight: 800;
          }
        }
      }
    }
  }
}
