* {
  box-sizing: border-box;
}

.a023 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  padding-right: 9px;
  padding-left: 4px;
  width: 343px;
  height: 170px;

  .foto2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 170px;
    overflow: hidden;

    .foto {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 8px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      width: 79px;
      overflow: hidden;

      .a01 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border-radius: 1px;
        background: var(--Claro-Primaria-01, #1777cf);
        padding: 15px 4px 5px;
        row-gap: 5px;

        .hOje {
          flex-shrink: 0;
          width: 64px;
          text-align: center;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
          text-decoration: underline;
        }

        .a9H30 {
          flex-shrink: 0;
          width: 64px;
          text-align: center;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }
      }

      .a02 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        height: 90px;
        row-gap: 10px;

        .rectangle1196 {
          flex-grow: 1;
          align-self: stretch;
          width: 79px;
          height: 90px;
        }
      }
    }
  }

  .informaEs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    row-gap: 5px;

    .a5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 9px;
      height: 17px;

      .milesTone {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .a09 {
        flex-shrink: 0;
        border-radius: 14px;
        width: 4px;
        height: 18px;
        overflow: hidden;
      }
    }

    .a {
      flex-shrink: 0;
      align-self: stretch;
      width: 237px;
      height: 1px;
    }

    .a022 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 3px;

      .a012 {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }

      .holdingPatrimonial {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }
}
