* {
  box-sizing: border-box;
}

.a05 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 11px 14px;
  width: 343px;
  height: 650px;
  overflow: hidden;

  .seta {
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 4px;
    width: 30px;
    height: 32px;
  }

  .autoWrapper {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 32px;

    .seta2 {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 30px;
      height: 32px;
      rotate: -180deg;
    }
  }

  .principal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 313px;

    .status {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 5px;
      border-radius: 12px;

      .a02 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        background: var(--Claro-Frente-01, #fcfcfc);
        width: 67px;
        row-gap: 4px;

        .nome {
          flex-shrink: 0;
          width: 51px;
          text-align: center;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .fecharX {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .a012 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    margin-top: 12px;
    row-gap: 5px;

    .a01 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      padding-right: 2px;
      padding-left: 2px;

      .placeholder {
        flex-grow: 1;
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0;
        white-space: nowrap;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .input {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid #d8e0f0;
      border-radius: 4px;
      background: var(--Claro-Frente-01, #fcfcfc);
      padding: 4px 9px;
      height: 35px;

      .placeholder2 {
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  .a {
    width: 313px;
    height: 22px;
  }

  .lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 10px;

    .a017 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 10px;

      .design2 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .a014 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 5px;

        .a013 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 8px;
          background: var(--Claro-Primaria-01, #1777cf);
          padding-right: 20px;
          padding-left: 20px;
          width: 60px;
          height: 60px;

          .design {
            flex-shrink: 0;
            line-height: 17px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .a023 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 5px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 8px;
          background: var(--Claro-Fundo-01, #f4f4f4);
          padding: 4px;

          .a022 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
            border-radius: 4px;
            background: var(--Claro-Frente-01, #fcfcfc);
            padding-right: 10px;
            padding-left: 10px;
            row-gap: 2px;

            .design3 {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: 0;
              color: var(--Claro-Textos-03, #91929e);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }
      }

      .a016 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 10px;

        .a015 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 8px;
          background: var(--Claro-Fundo-01, #f4f4f4);
          padding-right: 20px;
          padding-left: 20px;
        }

        .a024 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 8px;
          background: var(--Claro-Fundo-01, #f4f4f4);
          padding-right: 20px;
          padding-left: 20px;

          .design4 {
            flex-grow: 1;
            text-align: center;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .a027 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding-bottom: 14px;

      .outubro2025 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .topo {
        display: flex;
        align-items: center;
        column-gap: 5px;
        width: 313px;

        .a025 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          padding-right: 19px;
          padding-left: 19px;
        }
      }

      .row {
        display: flex;
        align-items: flex-start;
        column-gap: 4px;
        margin-top: 24px;
        width: 313px;

        .a018 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          opacity: 0.4;
          border-radius: 4px;
          width: 41px;
        }
      }

      .calendario {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        margin-top: 10px;
        height: 232px;
        row-gap: 4px;

        .a019 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          width: 41px;
          height: 35px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a0110 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          background: var(--Claro-Frente-01, #fcfcfc);
        }

        .a26 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          opacity: 0.4;
          border-radius: 4px;
          padding: 8px;
          row-gap: 8px;

          .number {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            width: 25px;
            height: 19px;
            letter-spacing: 0;
            color: var(--Claro-Textos-02, #7d8592);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .a0111 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 4px;
        }

        .a026 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 4px;
        }

        .a03 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 4px;

          .a13 {
            display: flex;
            position: relative;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 10px;
            border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
            border-radius: 4px;
            background: var(--Claro-Frente-01, #fcfcfc);

            .fill {
              position: absolute;
              top: -3px;
              left: 36px;
              flex-shrink: 0;
              border-radius: 5px;
              background: var(--Claro-Primaria-01, #1777cf);
              width: 8px;
              height: 8px;
            }
          }
        }

        .a06 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 4px;
        }
      }
    }

    .botEs {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 15px;

      .a0112 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 6px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        padding: 14px 9px;
        width: 149px;

        .salvar {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .a028 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 6px;
        background: var(--Claro-Primaria-01, #1777cf);
        padding: 14px 9px;

        .salvar2 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}
