* {
  box-sizing: border-box;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 11px 14px;
  width: 343px;
  height: 330px;
  row-gap: 15px;

  .a013 {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 9px;
    height: 9px;
  }

  .a012 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    column-gap: 10px;
    height: 20px;

    .design3 {
      flex-grow: 1;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .design {
    flex-shrink: 0;
    align-self: stretch;
    padding: 2px 0px;
    width: 313px;
    height: 20px;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Claro-Textos-02, #7d8592);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .a {
    flex-shrink: 0;
    align-self: stretch;
    width: 313px;
    height: 2px;
  }

  .a01 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;
    height: 20px;

    .design2 {
      flex-grow: 1;
      letter-spacing: 0;
      color: var(--Claro-Primaria-01, #1777cf);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .vector {
      flex-shrink: 0;
      width: 23px;
      height: 25px;
    }
  }

  .a022 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;

    .aCone {
      position: relative;
      flex-shrink: 0;
      width: 25px;
      height: 27px;

      .a02 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        background: var(--Claro-Textos-06);
        padding: 13px 4px 4px;
        width: 25px;
        height: 27px;
        background-image: url(../image/mid71sko-2jde7ba.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .tXt {
          width: 17px;
          line-height: 10px;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 8px;
          font-weight: 800;
        }
      }
    }
  }

  .a03 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;

    .aCone2 {
      position: relative;
      flex-shrink: 0;
      width: 25px;
      height: 27px;

      .a023 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        padding: 13px 4px 4px;
        width: 25px;
        height: 27px;
        background-image: url(../image/mid71sko-59k3pk0.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .pDf {
          width: 17px;
          text-align: center;
          line-height: 10px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 8px;
          font-weight: 800;
        }
      }
    }
  }

  .a04 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;

    .tXt2 {
      position: relative;
      flex-shrink: 0;
      width: 25px;
      height: 27px;

      .a024 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        background: var(--Claro-Primaria-01);
        padding: 14px 4px 6px;
        width: 25px;
        height: 27px;
        background-image: url(../image/mid71sko-awbtcfp.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .texto {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 17px;
          row-gap: 10px;

          .dOcx {
            flex-shrink: 0;
            line-height: 7px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 6px;
            font-weight: 800;
          }
        }
      }
    }
  }

  .a05 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;

    .play {
      flex-shrink: 0;
      border-radius: 99px;
      width: 25px;
      height: 25px;
    }
  }
}
