* {
  box-sizing: border-box;
}

.a193 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Claro-Fundo-01, #f4f4f4);
  width: 374px;
  height: 926px;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-right: -1px;
    margin-left: -1px;
    background: #fcfcfccc;
    padding-top: 1px;
    padding-bottom: 1px;

    .a012 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding: 10px 20px;

      .a01 {
        flex-grow: 1;
        width: 270px;
        height: 30px;
      }

      .a02 {
        flex-shrink: 0;
        width: 65px;
        height: 12px;
      }
    }

    .nome {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      background: #00000000;
      padding: 0px 20px 5px;
      width: 375px;
      height: 36px;

      .a22 {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 2px;
    background: var(--Claro-Frente-01, #fcfcfc);
    padding: 15px 16px 5px;
    row-gap: 15px;

    .abas2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      row-gap: 10px;

      .abas {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 4px;
        margin-right: 19px;
        margin-left: 19px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 6px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        padding: 4px;

        .a013 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border-radius: 4px;
          background: var(--Claro-Primaria-01, #1777cf);
          padding-right: 10px;
          padding-left: 10px;

          .principal {
            flex-shrink: 0;
            line-height: 17px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .dadosPessoais {
          flex-shrink: 0;
          align-self: stretch;
          padding: 8px 10px;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .a17 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      row-gap: 30px;

      .a0110 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        row-gap: 15px;

        .a014 {
          flex-shrink: 0;
          border-radius: 4px;
          width: 40px;
          height: 40px;
        }

        .a161125 {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .a023 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 5px;

          .a015 {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: 0;
            color: var(--Claro-Textos-02, #7d8592);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .a016 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 10px;
        }

        .milesTone {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: 0;
          color: #3a3f51;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a024 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 15px;

          .a022 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            width: 141px;
            height: 145px;
            row-gap: 10px;
            background-image: url(../image/mi7t1m6h-hhepn5y.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .a017 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            row-gap: 15px;

            .milesTone2 {
              flex-shrink: 0;
              align-self: stretch;
              width: 186px;
              height: 17px;
              letter-spacing: 0;
              color: var(--Claro-Textos-01, #3a3f51);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }

            .a04 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 15px;

              .a {
                flex-shrink: 0;
                align-self: stretch;
                width: 186px;
                height: 1px;
              }
            }
          }
        }

        .a2 {
          flex-shrink: 0;
          align-self: stretch;
          width: 342px;
          height: 1px;
        }

        .milesTone3 {
          flex-shrink: 0;
          width: 253px;
          height: 17px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a018 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 15px;

          .a10 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            column-gap: 10px;
            width: 140px;
          }

          .a12 {
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
            column-gap: 10px;
          }
        }

        .a07 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 10px;

          .a025 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 5px;

            .a3 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;

              .a019 {
                flex-grow: 1;
                letter-spacing: 0;
                color: var(--Claro-Textos-02, #7d8592);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }

              .a23 {
                flex-shrink: 0;
                line-height: 17px;
                letter-spacing: 0;
                color: var(--Claro-Textos-03, #91929e);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .menu {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: -33px;

        .a0111 {
          flex-shrink: 0;
          border-radius: 21px 20px 0px 0px;
          background: var(--Claro-Fundo-01, #f4f4f4);
          width: 375px;
          height: 30px;
        }

        .a026 {
          display: flex;
          position: relative;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 88px;
          background: var(--Claro-Frente-01, #fcfcfc);
          padding: 15px 27px 0px;

          .a0113 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            column-gap: 10px;
            width: 130px;

            .a0112 {
              flex-grow: 1;
              width: 60px;
              height: 24px;
            }
          }

          .a4 {
            position: absolute;
            top: -23px;
            left: 158px;
            flex-shrink: 0;
            width: 60px;
            height: 60px;
            background-image: url(../image/mi7t1m69-2hmysiw.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .a29 {
              position: absolute;
              top: 22px;
              left: 22px;
              width: 16px;
              height: 16px;
            }
          }
        }

        .a03 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          background: var(--Claro-Frente-01, #fcfcfc);
          padding-bottom: 8px;
          height: 34px;
          row-gap: 10px;

          .homeIndicator {
            flex-shrink: 0;
            border-radius: 100px;
            background: var(--Dark-Blue-200, #d5d8e2);
            width: 134px;
            height: 5px;
          }
        }
      }
    }
  }
}
