* {
  box-sizing: border-box;
}

.a018 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 14px 9px;
  width: 345px;
  height: 188px;
  row-gap: 15px;

  .design {
    flex-grow: 1;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Claro-Textos-01, #3a3f51);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .a016 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 15px;

    .a01 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      height: 20px;

      .vector {
        flex-shrink: 0;
        width: 17px;
        height: 15px;
      }
    }

    .a013 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;

      .a012 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        padding-right: 10px;
        padding-left: 10px;
        width: 27px;
        height: 27px;

        .design2 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Claro-Primaria-01, #1777cf);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }

      .a02 {
        display: flex;
        position: relative;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border-radius: 4px;
        padding: 0px 10px 15px;

        .design3 {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .progresso {
          position: absolute;
          top: 21px;
          left: 0;
          flex-shrink: 0;
          width: 250px;
          height: 9px;

          .line {
            position: absolute;
            top: 3px;
            left: 5px;
            border-radius: 8px;
            background: var(--Claro-Textos-04, #5f758b80);
            width: 245px;
            height: 2px;
          }

          .line2 {
            position: absolute;
            top: 3px;
            left: 0;
            border-radius: 8px;
            background: var(--Claro-Primaria-01, #1777cf);
            width: 87px;
            height: 2px;
          }

          .oval {
            position: absolute;
            top: 1px;
            left: 82px;
            border-radius: 50%;
            background: var(--Claro-Primaria-01, #1777cf);
            width: 9px;
            height: 9px;
          }
        }
      }
    }

    .a015 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;

      .a014 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        padding: 5px 10px;

        .design4 {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }
  }

  .a {
    flex-shrink: 0;
    align-self: stretch;
    width: 325px;
    height: 2px;
  }

  .a03 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;
    height: 20px;

    .fixo {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }

    .a017 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 10px;

      .a022 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;

        .aCone {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border: 1px solid var(--Claro-Textos-02, #7d8592);
          border-radius: 45px;
          padding: 4px;
          width: 33px;
          height: 19px;

          .bullet {
            flex-shrink: 0;
            border-radius: 45px;
            background: var(--Claro-Textos-02, #7d8592);
            width: 13px;
            height: 13px;
          }
        }
      }
    }
  }
}
