* {
  box-sizing: border-box;
}

.a09 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 1px;
  width: 293px;
  height: 174px;
  overflow: hidden;
  background-image: url(../image/mhdoqmqw-st7cx5e.png);
  background-position: 1px -1px;
  background-size: 100% 126.33%;
  background-repeat: no-repeat;

  .a171 {
    margin-left: 210px;
    border-radius: 6px;
    width: 77px;
    height: 25px;
    backdrop-filter: blur(2px);
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 32px;
    padding-bottom: 2px;

    .a013 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding: 16px 37px;
      min-width: 293px;

      .a01 {
        flex-shrink: 0;
        border-radius: 999px;
        width: 25px;
        height: 25px;
        backdrop-filter: blur(2px);
      }

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 73px;
        height: 25px;

        .a6 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          width: 73px;
          height: 25px;
          rotate: -180deg;
        }
      }

      .a4 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        .a012 {
          flex-shrink: 0;
          border-radius: 999px;
          width: 35px;
          height: 35px;
          backdrop-filter: blur(2px);
        }
      }

      .a5 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
      }
    }

    .a2 {
      margin-top: 6px;
      margin-left: 260px;
      border-radius: 999px;
      width: 25px;
      height: 25px;
      backdrop-filter: blur(2px);
    }

    .autoWrapper2 {
      position: relative;
      margin-top: 7px;
      margin-left: 7px;
      width: 280px;
      height: 4px;

      .line2 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        border-radius: 12px;
        background: var(--Claro-Textos-03, #91929e);
        padding-right: 106px;
        width: 280px;
        height: 4px;

        .line {
          border-radius: 12px;
          background: var(--Claro-Primaria-01, #1777cf);
          width: 174px;
          height: 4px;
        }
      }

      .oval {
        position: absolute;
        bottom: -2px;
        left: 167px;
        border-radius: 50%;
        background: var(--Claro-Primaria-01, #1777cf);
        width: 8px;
        height: 8px;
      }
    }
  }
}
