* {
  box-sizing: border-box;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 342px;
  height: 582px;
  row-gap: 10px;

  .nomeEProduto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    row-gap: 6px;

    .a012 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 9px;

      .milesTone {
        flex-grow: 1;
        letter-spacing: 0;
        color: #3a3f51;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .a02 {
        flex-shrink: 0;
        border-radius: 14px;
        width: 4px;
        height: 16px;
        overflow: hidden;
      }
    }

    .a {
      flex-shrink: 0;
      align-self: stretch;
      width: 231px;
      height: 1px;
    }

    .a013 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding-right: 9px;
      width: 231px;
      height: 18px;

      .holdingPatrimonial {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .a014 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
    border-radius: 8px;
    padding: 9px 14px 9px 9px;
    width: 343px;

    .a01 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 6px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding-top: 5px;
      width: 75px;
      height: 50px;
      row-gap: 5px;

      .aManh {
        flex-shrink: 0;
        width: 64px;
        text-align: center;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
      }

      .a0800 {
        flex-shrink: 0;
        width: 64px;
        text-align: center;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .a13 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
    border-radius: 8px;
    padding: 9px 14px 9px 9px;
    width: 343px;

    .a015 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 6px;
      background: var(--Claro-Primaria-01, #1777cf);
      padding-top: 5px;
      width: 75px;
      height: 50px;
      row-gap: 5px;

      .aManh2 {
        flex-shrink: 0;
        width: 64px;
        text-align: center;
        letter-spacing: 0;
        color: var(--Claro-Frente-01, #fcfcfc);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
      }

      .a08002 {
        flex-shrink: 0;
        width: 64px;
        text-align: center;
        letter-spacing: 0;
        color: var(--Claro-Frente-01, #fcfcfc);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
