* {
  box-sizing: border-box;
}

.a042 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Claro-Fundo-01, #f4f4f4);
  width: 374px;
  height: 812px;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-right: -1px;
    margin-left: -1px;
    background: #fcfcfccc;
    padding-top: 1px;
    padding-bottom: 1px;

    .a012 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding: 10px 20px;

      .a01 {
        flex-grow: 1;
        width: 270px;
        height: 30px;
      }

      .a02 {
        flex-shrink: 0;
        width: 65px;
        height: 12px;
      }
    }

    .nome {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      background: #00000000;
      padding: 0px 20px 5px;
      width: 375px;
      height: 36px;

      .a22 {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
      }
    }
  }

  .autoWrapper {
    position: relative;
    margin-top: 2px;
    width: 374px;
    height: 722px;

    .dropdown {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      background: var(--Claro-Frente-01, #fcfcfc);
      padding: 15px 16px 5px;
      width: 374px;
      height: 722px;
      row-gap: 15px;

      .abas2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        row-gap: 10px;

        .abas {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 4px;
          margin-right: 19px;
          margin-left: 19px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 6px;
          background: var(--Claro-Fundo-01, #f4f4f4);
          padding: 4px;

          .principal {
            flex-shrink: 0;
            align-self: stretch;
            padding: 8px 10px;
            line-height: 17px;
            letter-spacing: 0;
            color: var(--Claro-Textos-01, #3a3f51);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .a5 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 10px;
            border-radius: 4px;
            background: var(--Claro-Primaria-01, #1777cf);
            padding-right: 10px;
            padding-left: 10px;

            .conteDo {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: 0;
              color: var(--Claro-Frente-01, #fcfcfc);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }
      }

      .lista2 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 15px;

        .a17 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .a035 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            margin-right: -1px;

            .novo {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              min-width: 343px;

              .botO {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                border: 1px solid var(--Claro-Primaria-01, #1777cf);
                border-radius: 6px;
                background: var(--Claro-Frente-01, #fcfcfc);
                padding: 15px 10px;
                height: 32px;

                .a03 {
                  flex-shrink: 0;
                  width: 20px;
                  height: 27px;
                  overflow: hidden;
                }

                .upload {
                  flex-shrink: 0;
                  line-height: 17px;
                  letter-spacing: 0;
                  color: var(--Claro-Primaria-01, #1777cf);
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }

              .botO2 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                border-radius: 6px;
                background: var(--Claro-Primaria-01, #1777cf);
                padding: 15px 10px;
                height: 32px;

                .a032 {
                  flex-shrink: 0;
                  width: 8px;
                  height: 15px;
                  overflow: hidden;
                }

                .novaAnotaO {
                  flex-shrink: 0;
                  line-height: 17px;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }
            }

            .a52 {
              display: flex;
              align-items: flex-start;
              column-gap: 10px;
              margin-top: 20px;
              width: 343px;

              .a015 {
                display: flex;
                flex-grow: 1;
                align-items: center;
                column-gap: 5px;
                border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
                border-radius: 8px;
                padding: 9px;
                overflow: hidden;

                .a013 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: flex-start;
                  row-gap: 5px;

                  .design {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: var(--Claro-Textos-02, #7d8592);
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }

                  .design2 {
                    flex-shrink: 0;
                    line-height: 17px;
                    letter-spacing: 0;
                    color: var(--Claro-Textos-01, #3a3f51);
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                  }
                }

                .a014 {
                  flex-shrink: 0;
                  border-radius: 6px;
                  width: 38px;
                  height: 37px;
                }
              }
            }

            .lista {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-self: stretch;
              margin-top: 20px;
              padding-top: 10px;

              .icone {
                flex-shrink: 0;
                width: 4px;
                height: 18px;
              }

              .play {
                flex-shrink: 0;
                border-radius: 99px;
                width: 25px;
                height: 25px;
              }

              .a09 {
                flex-shrink: 0;
                border-radius: 14px;
                width: 4px;
                height: 18px;
                overflow: hidden;
              }

              .tuneForTheRoad {
                flex-grow: 1;
                letter-spacing: 0;
                color: var(--Claro-Textos-01, #3a3f51);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
              }

              .a016 {
                margin-left: 12px;
                width: 9px;
                height: 9px;
              }

              .a017 {
                display: flex;
                align-items: center;
                column-gap: 15px;
                width: 343px;

                .a022 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  background: var(--Claro-Textos-05);
                  padding: 0px 1px 4px 4px;
                  background-image: url(../image/mi7t2uuu-5d50bph.svg);
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;

                  .tXt {
                    margin: 4px 0px 0px;
                    width: 17px;
                    line-height: 10px;
                    letter-spacing: 0;
                    color: var(--Claro-Textos-02, #7d8592);
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 8px;
                    font-weight: 800;
                  }
                }
              }

              .line {
                margin-top: 18px;
                background: #eeeeee;
                width: 343px;
                height: 1px;
              }

              .a033 {
                display: flex;
                align-items: center;
                column-gap: 15px;
                margin-top: 18px;
                width: 343px;

                .a023 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  padding: 0px 1px 4px 4px;
                  background-image: url(../image/mi7t2uuu-ntrbcaa.svg);
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;

                  .pDf {
                    margin: 4px 0px 0px;
                    width: 17px;
                    text-align: center;
                    line-height: 10px;
                    letter-spacing: 0;
                    color: #ffffff;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 8px;
                    font-weight: 800;
                  }
                }
              }

              .a04 {
                display: flex;
                align-items: center;
                column-gap: 15px;
                margin-top: 18px;
                width: 343px;

                .a024 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  background: var(--Claro-Primaria-01);
                  padding: 0px 1px 6px 4px;
                  background-image: url(../image/mi7t2uuu-bqbzjzj.svg);
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;

                  .texto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 6px;
                    width: 17px;
                    row-gap: 10px;

                    .dOcx {
                      flex-shrink: 0;
                      line-height: 7px;
                      letter-spacing: 0;
                      color: #ffffff;
                      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 6px;
                      font-weight: 800;
                    }
                  }
                }
              }

              .a025 {
                display: flex;
                align-items: center;
                column-gap: 15px;
                margin-top: 18px;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 343px;
                overflow: hidden;
              }

              .a034 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                margin-top: 18px;
                row-gap: 10px;

                .a10 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  column-gap: 15px;
                  overflow: hidden;
                }

                .line4 {
                  position: relative;
                  flex-shrink: 0;
                  width: 343px;
                  height: 8px;

                  .line3 {
                    display: flex;
                    position: absolute;
                    top: 3px;
                    left: 41px;
                    align-items: center;
                    border-radius: 100px 0px 0px 100px;
                    background: #9fcaff;
                    padding-right: 216px;
                    width: 302px;
                    height: 3px;

                    .line2 {
                      border-radius: 100px 0px 0px 100px;
                      background: var(--Claro-Primaria-01, #1777cf);
                      width: 86px;
                      height: 3px;
                    }
                  }

                  .dot {
                    position: absolute;
                    top: 0;
                    left: 125px;
                    border-radius: 50%;
                    background: var(--Claro-Primaria-01, #1777cf);
                    width: 8px;
                    height: 8px;
                  }
                }
              }
            }
          }
        }

        .icons {
          position: absolute;
          top: 481px;
          left: 0;
          flex-shrink: 0;
          border-radius: 16px;
          width: 343px;
          height: 66px;
        }
      }
    }

    .menu {
      display: flex;
      position: absolute;
      right: -1px;
      bottom: -3px;
      flex-direction: column;
      align-items: flex-start;
      width: 375px;
      height: 103px;

      .a018 {
        flex-shrink: 0;
        border-radius: 21px 20px 0px 0px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        width: 375px;
        height: 30px;
      }

      .a026 {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 88px;
        background: var(--Claro-Frente-01, #fcfcfc);
        padding: 15px 27px 0px;

        .a0110 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 10px;
          width: 130px;

          .a019 {
            flex-grow: 1;
            width: 60px;
            height: 24px;
          }
        }

        .a {
          position: absolute;
          top: -23px;
          left: 158px;
          flex-shrink: 0;
          width: 60px;
          height: 60px;
          background-image: url(../image/mi7t2uuu-n1tkifa.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .a29 {
            position: absolute;
            top: 22px;
            left: 22px;
            width: 16px;
            height: 16px;
          }
        }
      }

      .a036 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        background: var(--Claro-Frente-01, #fcfcfc);
        padding-bottom: 8px;
        height: 34px;
        row-gap: 10px;

        .homeIndicator {
          flex-shrink: 0;
          border-radius: 100px;
          background: var(--Dark-Blue-200, #d5d8e2);
          width: 134px;
          height: 5px;
        }
      }
    }
  }
}
