* {
  box-sizing: border-box;
}

.a024 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  width: 310px;
  height: 483px;

  .a012 {
    display: flex;
    align-items: flex-start;
    column-gap: 6px;
    border-radius: 8px;
    width: 310px;

    .a01 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 4px;
      background: #1777cf08;
      padding: 10px;
      row-gap: 5px;

      .nome {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .nome2 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .a02 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 14px;
    padding-bottom: 15px;
    width: 310px;
    row-gap: 10px;

    .botO {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 5px;
      margin-left: 132px;
      border-radius: 6px;
      background: var(--Claro-Primaria-01, #1777cf);
      padding: 15px 10px;
      height: 35px;

      .a03 {
        flex-shrink: 0;
        width: 10px;
        height: 16px;
        overflow: hidden;
      }

      .formaDePagamento {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6px;
    width: 310px;
    height: 346px;
    overflow: hidden;
    row-gap: 15px;

    .a022 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;
      margin-right: -195px;
      background: var(--Claro-Frente-01, #fcfcfc);

      .a013 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 8px;
        background: var(--Claro-Primaria-01, #1777cf);
        padding: 9px 14px;

        .criarSenha {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Frente-01, #fcfcfc);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .a014 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 8px;
        background: var(--Claro-Fundo-01, #f4f4f4);
        padding: 9px 14px;

        .criarSenha2 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: var(--Claro-Textos-02, #7d8592);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .a017 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;
      padding-top: 10px;
      padding-bottom: 206px;
      overflow: hidden;

      .nome3 {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .a015 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .a016 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: 310px;
      }

      .a {
        margin-top: 10px;
        width: 310px;
        height: 20px;
      }

      .a023 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 10px;
        width: 310px;
      }
    }
  }
}
