* {
  box-sizing: border-box;
}

.a209 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 30px 15px 20px;
  width: 300px;
  height: 306px;
  overflow: hidden;
  row-gap: 25px;

  .a02 {
    flex-shrink: 0;
    border-radius: 12px;
    width: 80px;
    height: 80px;
  }

  .desejaRealmenteExclu3 {
    flex-shrink: 0;
    align-self: stretch;
    width: 270px;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;

    .desejaRealmenteExclu {
      line-height: 21px;
      letter-spacing: 0;
      color: var(--Claro-Textos-02, #7d8592);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .desejaRealmenteExclu2 {
      line-height: 21px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .a5 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;

    .a4 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 10px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding: 11px 15px;
      height: 42px;

      .cancelar {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: #3a3f51;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .a3 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 10px;
      background: var(--Claro-Status-03A, #ef4444);
      padding: 11px 14px;
      height: 42px;

      .excluir {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Frente-01, #fcfcfc);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
