* {
  box-sizing: border-box;
}

.a01 {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  width: 310px;
  height: 58px;

  .a5 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
    border-radius: 8px;
    background: var(--Claro-Fundo-01, #f4f4f4);
    padding: 9px;
    overflow: hidden;
    row-gap: 6px;

    .criarSenha {
      flex-shrink: 0;
      line-height: 15px;
      letter-spacing: 0;
      color: var(--Claro-Textos-02, #7d8592);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .placeholder {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
