* {
  box-sizing: border-box;
}

.a012 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
  border-radius: 8px;
  box-shadow: var(
    --Sombra-01,
    0px 1px 1px 0px #0000001f,
    0px 2px 5px 0px #676e7614
  );
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 11px 14px;
  width: 340px;
  height: 721px;

  .a2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 13px;
    width: 310px;

    .novaAnotaO {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 259px;
      height: 24px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 600;
    }

    .fecharX {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .nome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    margin-top: 15px;
    overflow: hidden;
    row-gap: 6px;

    .label {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding-right: 6px;
      padding-left: 6px;

      .criarSenha {
        flex-grow: 1;
        align-self: stretch;
        width: 298px;
        height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-02, #7d8592);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .input {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 8px;
      background: var(--Claro-Frente-01, #fcfcfc);
      padding: 12px 10px;
      min-height: 40px;
      max-height: 40px;

      .placeholder {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-03, #91929e);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .input2 {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    margin-top: 15px;
    border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
    border-radius: 8px;
    background: #fcfcfc;
    padding: 14px 9px;
    width: 310px;
    height: 486px;

    .placeholder2 {
      flex-grow: 1;
      letter-spacing: 0;
      color: #91929e;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .tempo {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 40px;
    min-width: 310px;

    .a01 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 8px;
      background: var(--Claro-Fundo-04, #d3d3d31f);
      padding: 9px 14px;

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 23px;
        height: 20px;

        .vector {
          position: absolute;
          top: 0;
          left: 0;
          width: 23px;
          height: 20px;
          rotate: -180deg;
        }
      }

      .limparTudo {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .a02 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: var(--Claro-Primaria-01, #1777cf);
      padding: 10px 15px;
      height: 40px;

      .salvar {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Frente-01, #fcfcfc);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
